@media (min-width: 768px) {
    .splashSubtitle {
        max-width: 30vw;
        text-align: left;
    }
}

.postContainer {

    position: relative;
}

.postContainer::before {
    content: 'Health Resources';
    position: absolute;
    text-align: center;
    width: auto;
    left: 45%;
    // padding: 2em;
    top: 0;
}