@import '../styles/variables.scss';

.Box {
    display: flex;
    flex-wrap: wrap;
}

.Box>* {
    flex: 1 1 300px
}

.Content {
    margin-top: 10px;
    display: flex;
    max-height: 200px;
    max-width: 600px;
    position: relative;
}

.Card {
    @media (max-width: 769px) {
        height: 70vmin;
    }
    @media (min-width: 769px) {
        height: 30vmin;
    }
}

.PageDescription {
    @media (min-width: 1024px) {
        position: sticky;
        top: 15vh
    }
}

.Title {
    flex: 1 auto;
    min-width: 100px;
}

.Subtitle {
    color: white;
    font-size: 13px;
}

.Image {
    object-fit: cover;
}

.PostTitle {
    border: 3px solid #48C774;
    border-right: 0px;

    position: absolute;
    bottom: 10%;
    right: 0;
    padding: .3em;
    text-align: left;
    background: rgba(72, 199, 116, $card-title-alpha);
    max-width: 70%;
}