
.ProviderList {
    @media (min-width: 1024px) {
        max-height: 80vmin;
    }

    // max-height: 80vmin;
    overflow: scroll;
    scrollbar-width: thin;
}

.ProviderList::-webkit-scrollbar {
    display: none;
}