.divider::before {
    // background-image: linear-gradient(to bottom, #48C774, rgba(54, 54, 54, 1)) !important;
    background-image: linear-gradient(to bottom, #48C774, #FFFFFF) !important;
}

.divider {
    color: #FFFFFF !important; 
}

.divider::after  {
    background-image: linear-gradient(to top, #48C774, #FFFFFF) !important;
}