// Need this for navburger scripting
// #nav-toggle-state {
//   // display: none;
//   color: transparent;
// }

// // #nav-toggle-state:checked~.navbar-menu {
//   display: block;
// }

.patient-portal {
    @media screen and (min-width: 769px) {
        background: darken(#48c774, 10%);
        border-radius: 5px;
        padding: 5px;
    }
}