@import '../styles/variables.scss';

.PostTitle {
    border: 3px solid #48C774;
    border-left: 0px;

    position: absolute;
    bottom: 10%;
    left: 0;
    padding: .3em;
    text-align: left;
    background: rgba(72, 199, 116, $card-title-alpha);
    max-width: 70%;
}