$color-bg-primary: #151515;
$color-bg-secondary: /*#0F102C;*/ #1d1d1d;
$color-fg-yellow: #eaaa03;
$color-fg-secondary: #8f392a;
$color-fg-primary: #d0d0d1;

$border-left: 2px solid $color-fg-yellow;

$card-title-alpha: 0.8;

$font-size-base-desktop: 8px;
$font-size-base-mobile: 12px;

/* Bulma overrides. */
$success: #48c774;
